.history-btn {
    padding: 10px;
    margin: 10px;
}

.input-group {
    flex-direction: column;
}

#search-input {
    position: relative !important;
}

.input-group .btn {
    position: relative !important;
    width: 100%;
    top: 7px;
}